*{
    background-color: aquamarine;
}

.heading1{
    text-align: center;
    font-style: italic;
    text-emphasis-color: red;
}
.subheading{
    text-align: center;
}

.welcome1{
    text-align: center;
}
img{
    justify-content: center;
}